*{
    margin:0px;
    padding:0px;
}
.container{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr; 
    justify-items: center;
    align-items: center;
}
header{
    grid-area:1/2/2/3;
    margin: 50px;
}
.scoreboard{
    grid-area: 2/1/3/4;
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
    align-items: center;
}

#player{
    grid-area:1/1/2/2;
    font-size: 40px;
    font-weight: bold;
    margin-top:50px;
    margin-right:100px;
}
#playerScore{
    grid-area:2/1/3/2;
    font-family: 'SCOREBOARD', sans-serif;
    font-size:300px; 
    margin-right:100px;
}
#gameResults{
    margin-top:50px;
    grid-area:1/2/2/3;
    font-size:30px;

}
.winner{
    grid-area:2/2/3/3;
    font-size:30px;
}
#computer{
    grid-area:1/3/2/4;
    font-size: 40px;
    font-weight:bold;
    margin-left:100px;
    margin-top:50px;

}
#compScore{
    grid-area:2/3/3/4;
    font-family: 'SCOREBOARD', sans-serif;
    font-size:300px;
    margin-left:100px;
}

.buttons{
    grid-area:3/2/4/3;
}
button{
    font-size:40px;
    margin:0px 10px 10px 0;
    padding:8px;
}
.rules{
    grid-area: 1/1/2/2;
    margin-top:50px;
}