.container{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    background-color: black;
}
header{
    grid-row: 3/4;
}
.scoreboard{
    grid-area: 2/1/3/4;
}
.buttons{
    grid-area:3/2/4/3;
}
.winner{

}